demo-index {
    .ta-r {
        text-align: right;
      }

      .card-body {
        position: relative;
      }

      .f-r {
        position: absolute;
        bottom: 0;
        right: 0;
      }
}
